Source: libscrappy-perl
Section: perl
Priority: optional
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Onur Aslan <onur@onur.im>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: perl,
  libarray-unique-perl,
  libdatetime-perl,
  libdatetime-format-sqlite-perl,
  libfile-find-rule-perl,
  libfile-sharedir-perl,
  libfile-sharedir-install-perl,
  libfile-slurp-perl,
  libfile-util-perl,
  libhtml-tree-perl,
  libmoose-perl,
  libparallel-forkmanager-perl,
  libstring-tt-perl,
  libtemplate-perl,
  liburi-perl,
  libwww-mechanize-perl,
  libweb-scraper-perl,
  libyaml-syck-perl
Standards-Version: 3.9.4
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-perl/packages/libscrappy-perl.git
Vcs-Git: git://anonscm.debian.org/pkg-perl/packages/libscrappy-perl.git
Homepage: https://metacpan.org/release/Scrappy/

Package: libscrappy-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: The All Powerful Web Spidering, Scraping, Creeping Crawling Framework
 Scrappy is an easy (and hopefully fun) way of scraping, spidering, and/or
 harvesting information from web pages, web services, and more. Scrappy is a
 feature rich, flexible, intelligent web automation tool.
